.content-category {
    margin: 20px 18px 0px 18px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background: white;
    padding-bottom: 90px;
    height: 100%;
}

.current-category {
    height: 100%;
}

.content-category-inner {
    background: rgba(249, 249, 249, 1);
    padding: 28px 38px 38px 38px;
}

.content-category-icon {
    margin-top: 28px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

.content-category-name {
    font-family: 'SF Pro Display';
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    margin-bottom: 12px;
}

.content-category-description {
    font-family: 'SF Pro Display';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: rgba(137, 137, 137, 1);
}

.content-category-control {
    display: flex;
    justify-content: center;

    & > button > div {
        width: 354px;
        height: 48px;
        top: 676px;
        left: 18px;
        padding: 16px 10px 16px 10px;
        gap: 10px;
        border-radius: 8px;
        background-color: rgba(0, 184, 88, 1);
        color:white;
        font-family: 'SF Pro Display';
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        text-align: center;
    }
}

