
.start {
    padding: 218px 18px 97px 18px;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 28px;
    height: 100%;
    background: radial-gradient(70.56% 70.56% at 50% 38.03%, #40E48F 0%, #00B858 100%);
    height: max-content;
  }
  
  .middle-block {
    height: 164px;
    padding: 30px 16px 30px 16px;
    gap: 10px;
    border-radius: 8px;
    justify-content: space-around;
    
    display: flex;
    row-gap: 8px;
    flex-direction: column;
    background: rgba(45, 192, 115, 1);
    padding: 30px 16px 30px 16px;
    color: rgba(254, 254, 254, 1);
  
    & > div {
      text-align: center;
      justify-content: space-around;
      font-family: 'SF Pro Display';
    }
    & > div:nth-child(2) {
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      text-align: center;
    }
    & > div:nth-child(1) {
      font-size: 18px;
      font-weight: 500;
      line-height: 21px;
      text-align: center;
    }
  }

  .upper-block {
    width: 100%;
    _background: radial-gradient(70.56% 70.56% at 50% 38.03%, #40E48F 0%, #00B858 100%);
    display: flex;
    align-items: end;
    justify-content: space-around;
    min-height: 210px;
    font-family: 'SF Pro Display';
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
  }

  .lower-block {
    padding-top: 81px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: end;
    flex-direction: column;
    background-color: rgba(0, 184, 88, 1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-height: 574px;
  }
  
  .title-start {
    font-family: Poppins;
    font-size: 52.14px;
    font-weight: 600;
    line-height: 57.36px;
    text-align: center;
    margin-top: 42px;
  }

  .description {
    font-family: League Spartan;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: center;
    width: 236px;
    height: 42px;
    top: 535px;
    left: 97px;
    margin-top: 34px;  
  }

  .img {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .controls {
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
  
    & > button {
      text-align: center;
      width: 100%;
      margin: 18px 18px;
      height: 50px;
      padding: 16px 10px 16px 10px;
      gap: 10px;
      border-radius: 8px;
      background: rgba(222, 255, 236, 1);
      border: none;
      cursor:pointer;
      font-family: 'SF Pro Display';
      font-size: 18px;
      font-weight: 600;
      line-height: 18px;
    }
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 5px;
    color: #333;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }