
.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .center-block {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  
      .title {
        font-family: Poppins;
        font-size: 52.14px;
        font-weight: 600;
        line-height: 57.36px;
        text-align: center;
        margin-top: 42px;
      }
  
      .description {
        font-family: League Spartan;
        font-size: 16px;
        font-weight: 400;
        line-height: 20.8px;
        text-align: center;
        width: 236px;
        height: 42px;
        top: 535px;
        left: 97px;
        margin-top: 34px;  
      }
  
    }
  
  
  }
  
  
  .img {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .controls {
    width: 207px;
    height: 45px;
    top: 612px;
    left: 112px;
    margin-top: 35px;
    font-family: Poppins !important;
    font-size: 20px;
    font-weight: 600;
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
  
    & > button {
      width: 207px;
      height: 45px;
      gap: 0px;
      border-radius: 5px;
      line-height: 22px;
      text-align: center;
      font-size: 20px;
      border: none;
      cursor:pointer;
    }
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 5px;
    color: #333;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }