.stockpiles-content {
    background: rgba(249, 249, 249, 1);
    padding: 28px 18px 18px 18px;
    padding-bottom: 90px;

    & > div:nth-child(1) {
        display: flex;
        justify-content: space-around;
    }
    & > div:nth-child(2) {
        background: rgba(255, 255, 255, 1);
        padding: 20px 0px 20px 0px;
        margin-top: 20px;
        border-radius: 8px;

        & > div {
            display: flex;
            flex-direction: column;
            row-gap: 8px;
            & > .balance-title {
                color: rgba(137, 137, 137, 1);
                font-family: SF Pro Display;
                font-size: 16px;
                font-weight: 500;
                line-height: 16px;
                text-align: center;
            }
            & > .balance-number {
                color: rgba(0, 184, 88, 1);
                text-align: center;
                font-family: SF Pro Display;
                font-size: 24px;
                font-weight: 700;
                line-height: 25px;
            }
        }
    }

    & > div:nth-child(3),
    & > div:nth-child(4) {
        margin-top: 20px;
        & > .title-1 {
            font-family: SF Pro Display;
            font-size: 18px;
            font-weight: 600;
            line-height: 18px;
            text-align: left;
            color: rgba(49, 55, 51, 1);
        }
        & > .description-1 {
            margin-top: 12px;
            font-family: SF Pro Display;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            text-align: left;
            color: rgba(137, 137, 137, 1);
        }
        & > .list-1 {
            margin-top: 8px;
            display: flex;
            flex-direction: column;
            row-gap: 8px;
        }
    }

}
.stock {
    color: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 24px;
    background: rgba(254, 254, 254, 1);
    height: 61px;
    padding: 18px 12px 18px 12px;
    border-radius: 8px 0px 0px 0px;

    font-family: 'SF Pro Display';
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;

    & > .task-photo {
        display: flex;
        align-items: center;
        min-width: 50px;
        min-height: 50px;
    }

    & > .task-name {
        flex-grow: 1;
        margin-left: 8px;
        max-width: 250px;

        & > div:nth-child(1) {
            display: flex;
            align-items: center;
            column-gap: 10px;
            color: rgba(49, 55, 51, 1);
            font-family: 'SF Pro Display';
            font-size: 16px;
            font-weight: 400;
            line-height: 25px;

            & > div:nth-child(1) {
                white-space: nowrap;
                max-width: 250px;
                word-wrap: break-word;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }

        & > .category-name {
            color: rgba(0, 184, 88, 1);
            font-family: 'SF Pro Display';
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
        }

        & > .coins {
            display: flex;
            column-gap: 2px;
            margin-top: 4px;
            & > .coins-number {
                font-family: 'SF Pro Display';
                font-size: 12px;
                font-weight: 400;
                line-height: 14px;
                color: rgba(137, 137, 137, 1);
            }
        }
    }
}