.home {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
}

.header {
    height: 52px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 0 24px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);

    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;

}

.block {
    color: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid rgba(208, 208, 208, 0.6);
    padding: 0 24px;
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

.block.no-border {
    border: none;
}

.subscribe {
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: rgba(15, 98, 254, 1);
}

.button {
    background-color: white;
    border: 1px solid black;
    width: 88px;
    height: 28px;
    top: 289px;
    left: 15px;
}

.down {
    height: 90px;
    border-top: 1px solid rgba(224, 224, 224, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.name {
    display: flex;
    align-items: center;
}

.row {
    column-gap: 9px;
    display: flex;
    justify-content: center;
}