.home {
    width: 100%;
    height: 100%;
    background_: rgba(250, 255, 245, 1);
    background: rgba(249, 249, 249, 1);

}

.header {
    height: 52px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 0 24px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);

    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
}

.content {
    background: rgba(249, 249, 249, 1);
}

.header-categories {
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    border: none;
    height: 67px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgba(0, 184, 88, 1);
}

.current-task-content {
    display: flex;
    flex-direction: column;
    padding: 27px 18px 40px 18px;

    & > .current-task-title {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: 'SF Pro Display';

        & > div:nth-child(1) {
            max-width: 232px;
            font-size: 18px;
            font-weight: 600;
            line-height: 18px;
            color: rgba(49, 55, 51, 1);
        }
        & > div:nth-child(2) {
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
            color:rgba(137, 137, 137, 1);
        }
    }

    .task-instructions {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        margin-top: 20px;

        & > .howto {
            padding: 12px;
            background-color:rgba(254, 254, 254, 1);
            font-family: 'SF Pro Display';

            & > div:nth-child(1) {
                font-size: 18px;
                font-weight: 600;
                line-height: 18px;
                color: rgba(49, 55, 51, 1);
            }
            & > div:nth-child(2) {
                font-size: 12px;
                font-weight: 300;
                margin-top: 8px;
            }
            & > div:nth-child(3) {
                display: flex;
                justify-content: end;
                background-color:rgba(254, 254, 254, 1);
                border: none;
                & > button{
                    border: none;
                    background-color:rgba(254, 254, 254, 1);
                    & > .expand {
                        background-color:rgba(254, 254, 254, 1);
                        display: flex;
                        column-gap: 4px;
                        font-size: 12px;
                        margin-top: 12px;
                        color: rgba(137, 137, 137, 1);
                    }

                }
            }
        }
    }

.controls {
    display: flex;
    justify-content: space-between;
    margin-top: 276px;

    & > div > button {
        font-family: 'SF Pro Display';
        font-size: 16px;
        font-weight: 500;
    }

    & > div:nth-child(1) {
        & > button {
            width: 171px;
            height: 48px;
            padding: 16px 40px 16px 40px;
            border-radius: 8px;
            background: rgba(0, 184, 88, 1);
            color: white;
            border: none;
        }
    }
    & > div:nth-child(2) {
        & > button {
            border: 1px solid rgba(0, 184, 88, 1);
            width: 171px;
            height: 48px;
            padding: 16px 40px 16px 40px;
            border-radius: 8px;
            background: white;
        }
    }
}
}