.button {
    background-color: white;
    border: 1px solid black;
    width: 88px;
    height: 28px;
    top: 289px;
    left: 15px;
}

.down {
    height: 90px;
    display: flex;
    position: fixed;
    top: 89%;
    max-width: 500px;
    width: -webkit-fill-available;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    background: rgba(249, 249, 249, 1);

    & > .down-control {
        display: flex;
        justify-content: center;
    }
}
