html,
body {
    height: 100%;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: rgba(0, 184, 88, 1);
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
