html,
body {
    height: 100%;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: rgba(0, 184, 88, 1);
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  border: none;
  min-height: 67px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgba(0, 184, 88, 1);

  & > .navigation-block {
      display: flex;
      margin-left: 18px;

     & > .title {
        font-family: 'SF Pro Display';
        font-size: 24px;
        font-weight: 700;
        line-height: 25px;
        text-align: left;
        color: rgba(254, 254, 254, 1);
        margin-left: 20px;
    }

      & > .header-arrow {
          height: 100%;
          display: flex;
      }
  }
}